.Container{
    display: flex;
    margin-top: 20px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 2px;
    background-color: rgb(236, 236, 236);
}

.Container p{
    position: relative;
    font-size: 1rem;
    padding: 4px;
    flex: 1;
}

.Buttons{ 
    display: flex;
    gap: 3px;
}

.Container button{
    cursor: pointer;
    display: flex;
    font-size: 1.6rem;
    border: none;
}

.btn_del{
    color: white;
    background-color: red;
}

.feito p{
    text-decoration: line-through;
}

@media screen and (max-width:500px) {
    .Container{
        gap: 0;
        padding: 0;
    }
}