.mainPage{
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
}

.main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    gap: 6px;
    padding: 10px;
    border: 1px solid rgba(0, 238,255);
   border-radius: .5rem ;
}